<div id="chapa">
   <h2 class="anim-in animated text-center border-bottom py-4 mb-4"><i class="fas fa-hammer"></i> Chapa y pintura</h2>
   <p class="anim-in animated text-justify">
      Nuestra especialidad. Acabados impecables con materiales y pintura al agua de primera calidad.<br/><br/>
      Nuestros operarios están en constante formación adaptándose a las nuevas tecnologías y útiles que aparecen en el mercado. Nos mantenemos en constante evolución. Solo así garantizamos los acabados más profesionales.<br/><br/>
      La complejidad de la reparación no es un reto. Estamos cualificados para dejar su vehículo como nuevo ante cualquier tipo de daños.<br/><br/>
      Pintura de piezas sueltas, laterales, vehículos completos. Nunca notará la diferencia.
   </p>
   <h4 class="anim-down animated text-center my-5">Bancada universal</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="anim-left animated col-6 img-fluid" src="../../../assets/img/chapa/bancada01.jpg" alt="Bancada 01">
      <img class ="anim-right animated col-6 img-fluid" src="../../../assets/img/chapa/bancada02.jpg" alt="Bancada 02">      
   </div><br/>
   <h4 class="anim-left animated text-center my-5">Elevadores</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="anim-left animated col-6 img-fluid" src="../../../assets/img/chapa/elevador01.jpg" alt="Elevador 01">
      <img class ="anim-right animated col-6 img-fluid" src="../../../assets/img/chapa/elevador02.jpg" alt="Elevador 02">      
   </div><br/>
   <h4 class="anim-up animated text-center my-5">Soldaduras complejas</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="anim-left animated col-4 img-fluid" src="../../../assets/img/chapa/soldadura01.jpg" alt="Soldadura 01">
      <img class ="anim-down animated col-4 img-fluid" src="../../../assets/img/chapa/soldadura02.jpg" alt="Soldadura 02">
      <img class ="anim-right animated col-4 img-fluid" src="../../../assets/img/chapa/soldadura03.jpg" alt="Soldadura 03">
   </div><br/>
   <h4 class="anim-up animated text-center my-5">Cabina de pintura</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="anim-left animated col-6 img-fluid" src="../../../assets/img/chapa/cabina01.jpg" alt="Cabina 01">
      <img class ="anim-right animated col-6 img-fluid" src="../../../assets/img/chapa/cabina02.jpg" alt="Cabina 02">      
   </div><br/>
   <h4 class="anim-left animated text-center my-5">Pleno</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="anim-left animated col-6 img-fluid" src="../../../assets/img/chapa/pleno01.jpg" alt="Pleno 01">
      <img class ="anim-right animated col-6 img-fluid" src="../../../assets/img/chapa/pleno02.jpg" alt="Pleno 02">      
   </div><br/>
   <!-- <h4 class="anim-right animated text-center my-5">Espectrofotómetro y colorimetría</h4> -->
   <h4 class="anim-left animated text-center my-5">Zona de acabado</h4>
   <div class="anim-in animated muestras row d-flex flex-wrap align-items-center">
      <img class ="unica anim-in animated col-12 img-fluid" src="../../../assets/img/chapa/acabado.jpg" alt="Acabados">
   </div>
</div>