<div id="footer" class="row d-flex justify-content-between">
   <div class="col-md-4 col-sm-6 col-12 mx-auto pb-3 pb-md-1">
      <h5>Servicios</h5>
      <ul>
         <li><a [routerLink]="['/servicios/chapa-y-pintura']" [routerLinkActive]="['active']">Chapa y pintura</a></li>
         <li><a [routerLink]="['/servicios/mecanica']" [routerLinkActive]="['active']">Mecánica en general</a></li>
         <li><a [routerLink]="['/servicios/diagnosis']" [routerLinkActive]="['active']">Autodiagnosis</a></li>
         <li><a [routerLink]="['/servicios/vehiculo-de-cortesia']" [routerLinkActive]="['active']">Vehículo de cortesía</a></li>
         <li><a [routerLink]="['/servicios/personalizacion']" [routerLinkActive]="['active']">Personalización</a></li>
         <!-- <li><a [routerLink]="['/servicios/vehiculos-de-ocasion']" [routerLinkActive]="['active']">Vehículos de ocasión</a></li> -->
      </ul>
   </div>
   <div class="col-md-4 col-sm-6 col-12 mx-auto pb-3 pb-md-1">
      <h5>Información</h5>
      <ul>
         <li><a [routerLink]="['/aseguradoras']" [routerLinkActive]="['active']">Aseguradoras</a></li>
         <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
         <li><a [routerLink]="['/politica-de-privacidad']" [routerLinkActive]="['active']">Política de Privacidad</a></li>
      </ul>
   </div>
   <div class="col-md-4 col-12 mx-auto">
      <h5>Dónde estamos</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.384405818544!2d-5.941371396338624!3d37.34856991895808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126fb4ea92ee35%3A0xffd563ff75281594!2sCalle+V%C3%ADa+Apia%2C+35%2C+41089+Dos+Hermanas%2C+Sevilla!5e0!3m2!1ses!2ses!4v1547491417123" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>      
</div>
<p class="footer"><small>&copy; Reparaciones de Vehículos a Motor Paintcar S.L.</small></p>