<h1 class="text-center mt-4 mb-5 anim-left animated " id="titulo">
   Tu Taller de Chapa y Pintura en Montequinto
</h1>
<div class="anim-right animated">
   <app-slider [images]="urls"></app-slider>
</div>
<!-- <div class="anim-up animated " id="div1">
      <app-slider></app-slider>
</div>
<div class="anim-down animated " id="div1">
      <app-slider></app-slider>
</div>
<div class="anim-left animated " id="div1">
      <app-slider></app-slider>
</div> -->
<div class="row mx-1 justify-content-between">
   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-right animated mb-5 pt-2">
      <img src="../../../assets/img/home/chapaypintura.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
         <div>
            <h4 class="card-title"><i class="fas fa-hammer"></i> Chapa y pintura</h4>         
            <p class="card-text pb-3">Nuestra especialidad. Acabados impecables con materiales y pintura al agua de primera calidad</p>
         </div>
         <a href="#" class="btn btn-danger btn-block">Más información</a>
         
      </div>
   </div>
   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-up animated mb-5 pt-2">
      <img src="../../../assets/img/home/mecanica.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
         <div>
            <h4 class="card-title"><i class="fas fa-tools"></i> Mecánica en general</h4>
            <p class="card-text pb-3">Reparaciones de mecánica de todo tipo. Amplia experiencia, recambios de primeras marcas y precios económicos.</p>
         </div>
         <a class="btn btn-danger btn-block" [routerLink]="['/servicios/mecanica']" [routerLinkActive]="['active']">Más información</a>
      </div>
   </div>
   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-left animated mb-5 pt-2">
      <img src="../../../assets/img/home/diagnosis.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
         <div>
            <h4 class="card-title"><i class="fas fa-laptop"></i> Diagnosis asistida</h4>
            <p class="card-text pb-3">¿Algún testigo encendido en su cuadro? Podemos indicarle la causa con una diagnosis por ordenador. Rápido, eficaz y seguro.</p>
         </div>
         <a [routerLink]="['/servicios/diagnosis']" class="btn btn-danger btn-block">Más información</a>
      </div>
   </div>   

   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-right animated mb-5 pt-2">
      <img src="../../../assets/img/home/sustitucion.jpg" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
         <div>
            <h4 class="card-title"><i class="fas fa-car"></i> Vehículo de cortesía</h4>
            <p class="card-text pb-3">Disponemos de vehículos de cortesía para que no renuncie a desplazarse cómodamente mientras realizamos su reparación</p>
         </div>
         <a href="#" class="btn btn-danger btn-block">Más información</a>
      </div>
   </div>
   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-down animated mb-5 pt-2">
      <img src="../../../assets/img/home/personalizaciones.jpeg" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
         <div>
            <h4 class="card-title"><i class="fas fa-sliders-h"></i> Personalización</h4>
            <p class="card-text pb-3">¿Tienes un diseño en mente para tu vehículo? No importa que sea coche, moto, carabana o camión. Nosotros lo haremos realidad.</p>
         </div>
         <a href="#" class="btn btn-danger btn-block">Más información</a>
      </div>
   </div>
   <div class="card col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1 anim-left animated mb-5 pt-2">
         <img src="../../../assets/img/home/ocasion.jpg" class="card-img-top" alt="...">
         <div class="card-body d-flex flex-column justify-content-between">
            <div>
               <h4 class="card-title"><i class="fas fa-taxi"></i> Vehículos de ocasión</h4>
               <p class="card-text pb-3">En ocasiones disponemos de vehículos para venta al público. Consulte disponibilidad</p>
            </div>
            <a href="#" class="btn btn-danger btn-block">Más información</a>
         </div>
      </div>
</div>
<div class="jumbotron pb-1 anim-left animated">
   <h2 class="text-center pt-0 pb-4">Sobre nosotros</h2>
   <p class="pt-4">
      Chok-Auto es un taller multimarca referente en el sector de la chapa y pintura del automóvil en Montequinto. Nuestro taller es reconocido positivamente desde que abrimos nuestras puertas al público en el año 2006. Nos hemos consolidado durante años en nuestra seriedad y en la alta preparación y cualificación de nuestro equipo de profesionales.<br><br>

      Ofrecemos a nuestros clientes garantía de la mejor calidad y un excelente servicio en nuestras reparaciones. Nuestro objetivo es ser su taller de confianza. Reparamos todas las marcas de coches y trabajamos para todas la compañías de seguros.<br><br>
      
      Disponemos en nuestras instalaciones de la más innovadora tecnología y solamente se utilizan productos de primeras marcas tanto en pintura como en recambios, lo que nos permite ofrecer a nuestros clientes resultados del más alto nivel.<br><br>
      
      Nuestras instalaciones disponen de un amplio espacio de taller con todo tipo de maquinaria indispensable para lograr un acabado profesional sin renunciar a la rapidez y eficacia en su reparación.<br><br>
      
      Presupuestos sin compromiso. Para cualquier consulta pueden llamarnos o rellenar el formulario en la página de <a [routerLink]="['/contacto']">contacto</a>.
   </p>
</div>
