<div id="aseguradoras">
   <h2 class="anim-in animated text-center border-bottom py-4 mb-4"><i class="fas fa-car-crash"></i> Aseguradoras</h2>
   <p class="anim-in animated text-justify">
      Ha tenido un siniestro estos últimos días y no sabe qué tiene que hacer para reparar su vehículo. Pues bien,
      nosotros le ayudaremos con los pasos a seguir. Ya sea un parte amistoso con contrario o un todo riesgo, lo
      primero que debe hacer es comunicarlo a su aseguradora. Una vez comunicado el parte ha de seguir las siguientes
      instrucciones.
   </p>
   <div class="instrucciones anim-left animated col-md-9 offset-md-3 d-flex flex-wrap justify-content-between align-items-center mt-4">
      <img src="../../../assets/img/aseguradoras/cita-2.jpg" alt="Cita aseguradora" class="col-sm-4 img-responsive">
      <div class="col-sm-8 mt-4 mt-sm-2">
         <h5>1.- Solicitar cita para peritaje</h5>
         <p class="text-justify">
            Una vez comunicado el siniestro a la compañía, usted puede solicitar la cita para peritación y tasación de daños. Deberá avisar en qué taller quiere reparar el vehículo y qué día puede dejarlo para que sea visto por el perito. Los datos que debe aportar si quiere reparar en nuestro taller los encontrará <button class="link" (click)="goDatos()">aquí</button>.
         </p>
      </div>
   </div>
   <div class="instrucciones anim-right animated col-md-9 d-flex flex-wrap flex-sm-row-reverse justify-content-between align-items-center mt-4">
      <img src="../../../assets/img/aseguradoras/recepcion.jpg" alt="Llevar el vehículo al taller para peritar" class="col-sm-4 img-responsive">
      <div class="col-sm-8 mt-4 mt-sm-2">
         <h5>2.- Llevar el vehículo al taller</h5>
         <p class="text-justify">
            El horario de peritación es de 9:00 a 14:00 de Lunes a Viernes, por lo tanto, su vehículo debe estar en el taller antes de las 9:00 si es posible. Verificaremos con usted los daños que reclama para poder transmitirselos al perito con exactitud. Una vez peritado, se le llamará por teléfono para que pase a recoger su vehículo.
         </p>
      </div>
   </div>
   <div class="instrucciones anim-left animated col-md-9 offset-md-3 d-flex flex-wrap justify-content-between align-items-center mt-4">
      <img src="../../../assets/img/aseguradoras/aprobacion-2.jpg" alt="Aceptación de la reparación" class="col-sm-4 img-responsive">
      <div class="col-sm-8 mt-4 mt-sm-2">
         <h5>3.- Aceptación de la reparación</h5>
         <p class="text-justify">
            Una vez la seguradora haya completado los trámites se pondrá en contacto con el taller o con el propietario del vehículo para comunicar si la reparación ha sido aprobada o no. En ese caso es cuando taller y propietario deben ponerse en contacto y concertar la cita para la reparación.
         </p>
      </div>
   </div>
   <div class="instrucciones anim-right animated col-md-9 d-flex flex-wrap flex-sm-row-reverse justify-content-between align-items-center mt-4">
      <img src="../../../assets/img/aseguradoras/reparacion.jpg" alt="Reparación" class="col-sm-4 img-responsive">
      <div class="col-sm-8 mt-4 mt-sm-2">
         <h5>4.- Reparación</h5>
         <p class="text-justify">
            Debe traer el vehículo el día concertado entre taller y cliente para el comienzo de la reparación. En el taller se le infromará de la duración de la misma. Es ahí donde el cliente puede despreocuparse y solo esperar a ser avisado para recoger su vehículo ya reparado con la garantía de que los daños reparados quedarán como nuevos.
         </p>
      </div>
   </div>
   <div class="instrucciones anim-left animated col-md-9 offset-md-3 d-flex flex-wrap justify-content-between align-items-center mt-4">
      <img src="../../../assets/img/aseguradoras/recogida.jpg" alt="Recogida del vehículo" class="col-sm-4 img-responsive">
      <div class="col-sm-8 mt-4 mt-sm-2">
         <h5>5.- Recogida del vehículo</h5>
         <p class="text-justify">
            Ya terminada la reparación se le llamará para que pase a recoger su vehículo. El cliente puede revisar con los operarios del taller el estado final de la reparación y dar su conformidad a la misma. Debe aportar al taller los datos necesarios para proceder a su facturación y abonar franquicias en el caso que las tuviera.
         </p>
      </div>
   </div>
   <h4 class="anim-in animated text-center my-5">Aseguradoras con las que trabajamos</h4>
   <p class="anim-in animated text-justify">
      En Chok-Auto trabajamos con la mayoría de las aseguradoras del mercado. A continuación verá una lista de las más importantes, pero si usted está asegurado con otra compañía que no aparece en el listado, no dude en consultarnos. Posiblemente podramos hacernos cargo de la reparación.
   </p>
   <div class="row d-flex mt-4 justify-content-between align-items-baseline">
      <div class="anim-12 animated text-center col-4 col-sm-3 col-md-2 p-2" *ngFor="let aseguradora of aseguradoras">
         <div class="contenedor-imagen">
            <img class="imagen" src="../../../assets/img/aseguradoras/{{aseguradora.url}}" alt="{{aseguradora.nombre}}">
         </div>
         <p class="mt-1">{{aseguradora.nombre}}</p>
      </div>
   </div>
   <div id="datos-taller" class="anim-in animated instrucciones my-5">
      <h4 class="text-center my-3">Datos del taller reparador</h4>
      <ul>
         <li>Nombre comercial: Chok-Auto</li>
         <li>Nombre Fiscal: Reparaciones de Vehículos a Motor Paintcar S.L</li>
         <li>CIF: B90291188</li>
         <li>Dirección: C/ Vía Apia, 35</li>
         <li>Código Postal: 41089</li>
         <li>Población: Montequinto - Dos Hermanas</li>
         <li>Provincia: Sevilla</li>
         <li>Tlf: 954 12 21 70</li>
         <li>Email: chok-auto@hotmail.com</li>
      </ul>
   </div>
</div>