<div id="diagnosis">
   <h2 class="anim-in animated text-center border-bottom py-4 mb-4"><i class="fas fa-laptop"></i> Diagnosis asistida por odenador</h2>
   <p class="anim-in animated text-justify">
      Hoy en día es indispensable disponer de una máquina de diagnosis en el taller. La complejidad de los sistemas
      electrónicos en los vehículos actuales hace que se multipliquen los elementos que pueden activar el indicador de
      avería. Si a eso añadimos las diferencias en el diagnóstico de cada fabricante, nos damos cuenta de que disponer
      de un sistema de diagnóstico de vehículos es un elemento de gran impacto en la rentabilidad de su reparación.
   </p>
</div>